In [ ]:
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .appName("StudentDataFrame") \
    .getOrCreate()

In [ ]:
df = spark.read.json("/content/drive/MyDrive/AI & ML/week 8/json/student.json")

In [ ]:
df.show()

+----+----------------+--------------------+-------------------+------+
| age|          course|               email|              lives|  name|
+----+----------------+--------------------+-------------------+------+
|NULL|BSc Horticulture|                NULL|        Bridge Farm|   Tom|
|  45| MSc Agriculture|                NULL|               NULL| Helen|
|  30|            NULL|S.Carter@borchest...|    Borchester Farm| Alice|
|  21|BSc Horticulture|                NULL|        Bridge Farm|Johnny|
|NULL| MSc Agriculture|                NULL|    Brookfield Farm|  Ruth|
|  17|            NULL|                NULL|    Brookfield Farm|   Ben|
|  40|            NULL|A.Macy@borchester...|Honeysuckle Cottage|  Adam|
|  21|         BSc PPE|P.Aldridge@oxford...|             Oxford|Phoebe|
|  25|            NULL|P.Archer@borchest...|   Rickyard Cottage|   Pip|
|  35|HND Food Science|                NULL|Honeysuckle Cottage|   Ian|
+----+----------------+--------------------+-------------------+------+

In [ ]:
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- course: string (nullable = true)
 |-- email: string (nullable = true)
 |-- lives: string (nullable = true)
 |-- name: string (nullable = true)

In [ ]:
df.select("name").show()

+------+
|  name|
+------+
|   Tom|
| Helen|
| Alice|
|Johnny|
|  Ruth|
|   Ben|
|  Adam|
|Phoebe|
|   Pip|
|   Ian|
+------+

In [ ]:
df.select(df['name'], df['age'] + 1).show()

+------+---------+
|  name|(age + 1)|
+------+---------+
|   Tom|     NULL|
| Helen|       46|
| Alice|       31|
|Johnny|       22|
|  Ruth|     NULL|
|   Ben|       18|
|  Adam|       41|
|Phoebe|       22|
|   Pip|       26|
|   Ian|       36|
+------+---------+

In [ ]:
df.filter(df['age'] > 21).show()

+---+----------------+--------------------+-------------------+-----+
|age|          course|               email|              lives| name|
+---+----------------+--------------------+-------------------+-----+
| 45| MSc Agriculture|                NULL|               NULL|Helen|
| 30|            NULL|S.Carter@borchest...|    Borchester Farm|Alice|
| 40|            NULL|A.Macy@borchester...|Honeysuckle Cottage| Adam|
| 25|            NULL|P.Archer@borchest...|   Rickyard Cottage|  Pip|
| 35|HND Food Science|                NULL|Honeysuckle Cottage|  Ian|
+---+----------------+--------------------+-------------------+-----+

In [ ]:
df.groupBy("course").count().show()

+----------------+-----+
|          course|count|
+----------------+-----+
|         BSc PPE|    1|
| MSc Agriculture|    2|
|            NULL|    4|
|BSc Horticulture|    2|
|HND Food Science|    1|
+----------------+-----+

In [ ]:
df.createOrReplaceTempView("student")

In [ ]:
sqlDF = spark.sql("SELECT name, age, course FROM student WHERE age > 21")

In [ ]:
sqlDF.show()

+-----+---+----------------+
| name|age|          course|
+-----+---+----------------+
|Helen| 45| MSc Agriculture|
|Alice| 30|            NULL|
| Adam| 40|            NULL|
|  Pip| 25|            NULL|
|  Ian| 35|HND Food Science|
+-----+---+----------------+

In [ ]:
df1 = spark.read.json("/content/drive/MyDrive/AI & ML/week 8/json/weather.json")

In [ ]:
df.show()

+----+----------------+--------------------+-------------------+------+
| age|          course|               email|              lives|  name|
+----+----------------+--------------------+-------------------+------+
|NULL|BSc Horticulture|                NULL|        Bridge Farm|   Tom|
|  45| MSc Agriculture|                NULL|               NULL| Helen|
|  30|            NULL|S.Carter@borchest...|    Borchester Farm| Alice|
|  21|BSc Horticulture|                NULL|        Bridge Farm|Johnny|
|NULL| MSc Agriculture|                NULL|    Brookfield Farm|  Ruth|
|  17|            NULL|                NULL|    Brookfield Farm|   Ben|
|  40|            NULL|A.Macy@borchester...|Honeysuckle Cottage|  Adam|
|  21|         BSc PPE|P.Aldridge@oxford...|             Oxford|Phoebe|
|  25|            NULL|P.Archer@borchest...|   Rickyard Cottage|   Pip|
|  35|HND Food Science|                NULL|Honeysuckle Cottage|   Ian|
+----+----------------+--------------------+-------------------+------+

In [ ]:
df.show(40)

+----+----------------+--------------------+-------------------+------+
| age|          course|               email|              lives|  name|
+----+----------------+--------------------+-------------------+------+
|NULL|BSc Horticulture|                NULL|        Bridge Farm|   Tom|
|  45| MSc Agriculture|                NULL|               NULL| Helen|
|  30|            NULL|S.Carter@borchest...|    Borchester Farm| Alice|
|  21|BSc Horticulture|                NULL|        Bridge Farm|Johnny|
|NULL| MSc Agriculture|                NULL|    Brookfield Farm|  Ruth|
|  17|            NULL|                NULL|    Brookfield Farm|   Ben|
|  40|            NULL|A.Macy@borchester...|Honeysuckle Cottage|  Adam|
|  21|         BSc PPE|P.Aldridge@oxford...|             Oxford|Phoebe|
|  25|            NULL|P.Archer@borchest...|   Rickyard Cottage|   Pip|
|  35|HND Food Science|                NULL|Honeysuckle Cottage|   Ian|
+----+----------------+--------------------+-------------------+------+

In [ ]:
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- course: string (nullable = true)
 |-- email: string (nullable = true)
 |-- lives: string (nullable = true)
 |-- name: string (nullable = true)

In [ ]:
df.count()

10

In [ ]:
df.first()

Row(age=None, course='BSc Horticulture', email=None, lives='Bridge Farm', name='Tom')

In [ ]:
df.take(2)

[Row(age=None, course='BSc Horticulture', email=None, lives='Bridge Farm', name='Tom'),
 Row(age=45, course='MSc Agriculture', email=None, lives=None, name='Helen')]

In [ ]:
df.describe().show()

+-------+------------------+----------------+--------------------+----------------+----+
|summary|               age|          course|               email|           lives|name|
+-------+------------------+----------------+--------------------+----------------+----+
|  count|                 8|               6|                   4|               9|  10|
|   mean|             29.25|            NULL|                NULL|            NULL|NULL|
| stddev|10.010708552059926|            NULL|                NULL|            NULL|NULL|
|    min|                17|BSc Horticulture|A.Macy@borchester...| Borchester Farm|Adam|
|    max|                45| MSc Agriculture|S.Carter@borchest...|Rickyard Cottage| Tom|
+-------+------------------+----------------+--------------------+----------------+----+

In [ ]:
df.describe().first()

Row(summary='count', age='8', course='6', email='4', lives='9', name='10')

In [ ]:
df1.select("user.screen_name").show(40)

+---------------+
|    screen_name|
+---------------+
|  highland_andy|
|  highland_andy|
|   WAWilliams15|
|      AKinniyos|
|       pararu25|
| WalesCoastPath|
|       MadFitba|
|    Lillybetmax|
|         Duo935|
|          owz09|
|      CairnToby|
|        SGIRE82|
|   BaitTheLines|
|townsendoutdoor|
|  jaewestside12|
|  highland_andy|
|     KateVause1|
|   stoneartgall|
|svencjohn_steve|
|          PGWCC|
|     Nightfly28|
|      gcmallers|
|   MCThomas1965|
|CarolPoyerPeett|
|        gez1087|
|serimalbpickles|
|     Samwill444|
| EmmamorrisxELM|
|   WAWilliams15|
|        Mairebc|
| Weather_Nathan|
|   wenglishpaul|
|    RuthHolmes2|
|      leanjeanp|
|DerekTheWeather|
|   MCThomas1965|
|  ruths_gallery|
|       TimTar96|
|  ruths_gallery|
|  goldfinches12|
+---------------+
only showing top 40 rows

In [ ]:
df1.select ('user.screen_name').show(40)

+---------------+
|    screen_name|
+---------------+
|  highland_andy|
|  highland_andy|
|   WAWilliams15|
|      AKinniyos|
|       pararu25|
| WalesCoastPath|
|       MadFitba|
|    Lillybetmax|
|         Duo935|
|          owz09|
|      CairnToby|
|        SGIRE82|
|   BaitTheLines|
|townsendoutdoor|
|  jaewestside12|
|  highland_andy|
|     KateVause1|
|   stoneartgall|
|svencjohn_steve|
|          PGWCC|
|     Nightfly28|
|      gcmallers|
|   MCThomas1965|
|CarolPoyerPeett|
|        gez1087|
|serimalbpickles|
|     Samwill444|
| EmmamorrisxELM|
|   WAWilliams15|
|        Mairebc|
| Weather_Nathan|
|   wenglishpaul|
|    RuthHolmes2|
|      leanjeanp|
|DerekTheWeather|
|   MCThomas1965|
|  ruths_gallery|
|       TimTar96|
|  ruths_gallery|
|  goldfinches12|
+---------------+
only showing top 40 rows

In [ ]:
df1.filter(df1['lang'] == "en").show()

+------------+-----------+--------------------+--------------------+-----------------+--------------+---------+----+-------------------+-------------------+-----------------------+---------------------+-------------------------+-------------------+-----------------------+---------------+----+------------+--------------------+------------------+-------------+----------------+--------------------+-------------+---------+--------------------+--------------------+--------------------+---------+--------------------+
|contributors|coordinates|          created_at|            entities|extended_entities|favorite_count|favorited| geo|                 id|             id_str|in_reply_to_screen_name|in_reply_to_status_id|in_reply_to_status_id_str|in_reply_to_user_id|in_reply_to_user_id_str|is_quote_status|lang|    metadata|               place|possibly_sensitive|quoted_status|quoted_status_id|quoted_status_id_str|retweet_count|retweeted|    retweeted_status|              source|                text|truncated|                user|
+------------+-----------+--------------------+--------------------+-----------------+--------------+---------+----+-------------------+-------------------+-----------------------+---------------------+-------------------------+-------------------+-----------------------+---------------+----+------------+--------------------+------------------+-------------+----------------+--------------------+-------------+---------+--------------------+--------------------+--------------------+---------+--------------------+
|        NULL|       NULL|Mon Feb 03 20:02:...|{[], NULL, [], [{...|             NULL|             0|    false|NULL|1224423049782603783|1224423049782603783|            Lillybetmax|  1224417619173834752|      1224417619173834752|1139793943032414208|    1139793943032414208|          false|  en|{en, recent}|                NULL|              NULL|         NULL|            NULL|                NULL|            0|    false|                NULL|<a href="http://t...|@Lillybetmax @Vis...|     true|{false, Wed Aug 2...|
|        NULL|       NULL|Mon Feb 03 19:48:...|{[], NULL, [], []...|             NULL|             0|    false|NULL|1224419463136600064|1224419463136600064|                   NULL|                 NULL|                     NULL|               NULL|                   NULL|          false|  en|{en, recent}|                NULL|              NULL|         NULL|            NULL|                NULL|            3|    false|{NULL, NULL, Mon ...|<a href="http://t...|RT @therileyshot:...|    false|{false, Tue Jun 2...|
|        NULL|       NULL|Mon Feb 03 19:45:...|{[], NULL, [], []...|             NULL|             0|    false|NULL|1224418703703408642|1224418703703408642|                   NULL|                 NULL|                     NULL|               NULL|                   NULL|          false|  en|{en, recent}|                NULL|              NULL|         NULL|            NULL|                NULL|           14|    false|{NULL, NULL, Mon ...|<a href="http://t...|RT @DerekTheWeath...|    false|{false, Mon Mar 2...|
|        NULL|       NULL|Mon Feb 03 19:45:...|{[], NULL, [], []...|             NULL|             0|    false|NULL|1224418582056054785|1224418582056054785|                   NULL|                 NULL|                     NULL|               NULL|                   NULL|          false|  en|{en, recent}|                NULL|              NULL|         NULL|            NULL|                NULL|            2|    false|{NULL, NULL, Mon ...|<a href="http://t...|RT @highland_andy...|    false|{false, Thu Apr 2...|
|        NULL|       NULL|Mon Feb 03 19:41:...|{[], NULL, [], [{...|             NULL|             1|    false|NULL|1224417619173834752|1224417619173834752|          highland_andy|  1224409962190905344|      1224409962190905344|          789877778|              789877778|          false|  en|{en, recent}|                NULL|              NULL|         NULL|            NULL|                NULL|            0|    false|                NULL|<a href="http://t...|@highland_andy @V...|     true|{false, Sat Jun 1...|
|        NULL|       NULL|Mon Feb 03 19:41:...|{[], NULL, [], []...|             NULL|             0|    false|NULL|1224417601310396416|1224417601310396416|                   NULL|                 NULL|                     NULL|               NULL|                   NULL|          false|  en|{en, recent}|                NULL|              NULL|         NULL|            NULL|                NULL|           14|    false|{NULL, NULL, Mon ...|<a href="https://...|RT @DerekTheWeath...|    false|{false, Fri Jan 0...|
|        NULL|       NULL|Mon Feb 03 19:40:...|{[], NULL, [], []...|             NULL|             0|    false|NULL|1224417439968112647|1224417439968112647|           WAWilliams15|  1224402911406497793|      1224402911406497793|          116506847|              116506847|          false|  en|{en, recent}|                NULL|              NULL|         NULL|            NULL|                NULL|            0|    false|                NULL|<a href="http://t...|@WAWilliams15 @De...|    false|{false, Wed Oct 1...|
|        NULL|       NULL|Mon Feb 03 19:39:...|{[], NULL, [], []...|             NULL|             0|    false|NULL|1224417020999012352|1224417020999012352|                   NULL|                 NULL|                     NULL|               NULL|                   NULL|          false|  en|{en, recent}|                NULL|              NULL|         NULL|            NULL|                NULL|           14|    false|{NULL, NULL, Mon ...|<a href="http://t...|RT @DerekTheWeath...|    false|{false, Fri Nov 0...|
|        NULL|       NULL|Mon Feb 03 19:32:...|{[], NULL, [], [{...|             NULL|             1|    false|NULL|1224415421094400000|1224415421094400000|          highland_andy|  1224409962190905344|      1224409962190905344|          789877778|              789877778|          false|  en|{en, recent}|                NULL|              NULL|         NULL|            NULL|                NULL|            0|    false|                NULL|<a href="http://t...|@highland_andy @V...|     true|{false, Sun Jun 1...|
|        NULL|       NULL|Mon Feb 03 19:28:...|{[], NULL, [], []...|             NULL|             0|    false|NULL|1224414269690843138|1224414269690843138|                   NULL|                 NULL|                     NULL|               NULL|                   NULL|          false|  en|{en, recent}|                NULL|              NULL|         NULL|            NULL|                NULL|           14|    false|{NULL, NULL, Mon ...|<a href="http://t...|RT @DerekTheWeath...|    false|{false, Fri Jul 1...|
|        NULL|       NULL|Mon Feb 03 19:17:...|{[], NULL, [], []...|             NULL|             0|    false|NULL|1224411533788270592|1224411533788270592|                   NULL|                 NULL|                     NULL|               NULL|                   NULL|          false|  en|{en, recent}|                NULL|              NULL|         NULL|            NULL|                NULL|            2|    false|{NULL, NULL, Mon ...|<a href="https://...|RT @highland_andy...|    false|{false, Fri Jan 2...|
|        NULL|       NULL|Mon Feb 03 19:10:...|{[], NULL, [], [{...|             NULL|            43|    false|NULL|1224409962190905344|1224409962190905344|                   NULL|                 NULL|                     NULL|               NULL|                   NULL|          false|  en|{en, recent}|                NULL|             false|         NULL|            NULL|                NULL|            2|    false|                NULL|<a href="http://t...|This image has to...|     true|{false, Wed Aug 2...|
|        NULL|       NULL|Mon Feb 03 19:07:...|{[{[107, 116], St...|             NULL|             0|    false|NULL|1224409064735756288|1224409064735756288|                   NULL|                 NULL|                     NULL|               NULL|                   NULL|          false|  en|{en, recent}|                NULL|              NULL|         NULL|            NULL|                NULL|            3|    false|{NULL, NULL, Mon ...|<a href="http://t...|RT @frasergj: A s...|    false|{false, Tue Sep 1...|
|        NULL|       NULL|Mon Feb 03 19:05:...|{[], NULL, [], []...|             NULL|             0|    false|NULL|1224408680906489858|1224408680906489858|                   NULL|                 NULL|                     NULL|               NULL|                   NULL|          false|  en|{en, recent}|                NULL|              NULL|         NULL|            NULL|                NULL|            6|    false|{NULL, NULL, Sun ...|<a href="http://t...|RT @dunbar44: A s...|    false|{false, Sat Jun 1...|
|        NULL|       NULL|Mon Feb 03 19:01:...|{[], NULL, [], []...|             NULL|             0|    false|NULL|1224407616807370757|1224407616807370757|                   NULL|                 NULL|                     NULL|               NULL|                   NULL|          false|  en|{en, recent}|                NULL|              NULL|         NULL|            NULL|                NULL|           14|    false|{NULL, NULL, Mon ...|<a href="http://t...|RT @DerekTheWeath...|    false|{false, Sat Dec 2...|
|        NULL|       NULL|Mon Feb 03 18:59:...|{[], NULL, [], []...|             NULL|             0|    false|NULL|1224407088446820353|1224407088446820353|                   NULL|                 NULL|                     NULL|               NULL|                   NULL|          false|  en|{en, recent}|                NULL|              NULL|         NULL|            NULL|                NULL|           24|    false|{NULL, NULL, Mon ...|<a href="http://t...|RT @bbcweather: W...|    false|{false, Sun May 2...|
|        NULL|       NULL|Mon Feb 03 18:56:...|{[], NULL, [], []...|             NULL|             0|    false|NULL|1224406347640340482|1224406347640340482|                   NULL|                 NULL|                     NULL|               NULL|                   NULL|          false|  en|{en, recent}|                NULL|              NULL|         NULL|            NULL|                NULL|           14|    false|{NULL, NULL, Mon ...|<a href="http://t...|RT @DerekTheWeath...|    false|{false, Tue May 1...|
|        NULL|       NULL|Mon Feb 03 18:55:...|{[], NULL, [], []...|             NULL|             0|    false|NULL|1224405989790797829|1224405989790797829|        DerekTheWeather|  1224400483282014214|      1224400483282014214|          309929507|              309929507|          false|  en|{en, recent}|                NULL|              NULL|         NULL|            NULL|                NULL|            0|    false|                NULL|<a href="http://t...|@DerekTheWeather ...|    false|{false, Fri Feb 0...|
|        NULL|       NULL|Mon Feb 03 18:52:...|{[], NULL, [], [{...|             NULL|             0|    false|NULL|1224405292416425985|1224405292416425985|              sotcstill|  1219369906480844802|      1219369906480844802|          324611883|              324611883|          false|  en|{en, recent}|{{[[[-6.791799, 5...|              NULL|         NULL|            NULL|                NULL|            0|    false|                NULL|<a href="http://t...|@sotcstill @OldDu...|     true|{false, Sat May 2...|
|        NULL|       NULL|Mon Feb 03 18:52:...|{[], NULL, [], []...|             NULL|             0|    false|NULL|1224405283285487616|1224405283285487616|                   NULL|                 NULL|                     NULL|               NULL|                   NULL|          false|  en|{en, recent}|                NULL|              NULL|         NULL|            NULL|                NULL|           14|    false|{NULL, NULL, Mon ...|<a href="http://t...|RT @DerekTheWeath...|    false|{false, Thu Sep 2...|
+------------+-----------+--------------------+--------------------+-----------------+--------------+---------+----+-------------------+-------------------+-----------------------+---------------------+-------------------------+-------------------+-----------------------+---------------+----+------------+--------------------+------------------+-------------+----------------+--------------------+-------------+---------+--------------------+--------------------+--------------------+---------+--------------------+
only showing top 20 rows

In [ ]:
df1.filter(df1['lang'] == "en").select('user.screen_name', 'user.location').show(40)

+---------------+--------------------+
|    screen_name|            location|
+---------------+--------------------+
|  highland_andy|Highlands of Scot...|
|      AKinniyos|                Utah|
| WalesCoastPath|               Wales|
|       MadFitba|                    |
|    Lillybetmax|   God's Own County |
|         Duo935|      United Kingdom|
|          owz09|     Ammanford,wales|
|      CairnToby|                    |
|        SGIRE82|             Ireland|
|   BaitTheLines|      Swansea, Wales|
|townsendoutdoor|          Cairngorms|
|  highland_andy|Highlands of Scot...|
|     KateVause1|Weston-super-Mare...|
|   stoneartgall|                    |
|svencjohn_steve|       Pembrokeshire|
|          PGWCC|Port Glasgow Inve...|
|     Nightfly28|   Coleford, England|
|      gcmallers|     Hawarden, Wales|
|   MCThomas1965|    Wicklow, Ireland|
|CarolPoyerPeett|          West Wales|
|        gez1087|            Wales UK|
|serimalbpickles|               Wales|
|     Samwill444|           Llanmadoc|
| EmmamorrisxELM|Wales, United Kin...|
|   WAWilliams15|               Wales|
|        Mairebc|      ðŸ´ó §ó ¢ó ·ó ¬ó ³ó ¿|
| Weather_Nathan|Uk, Doncaster, So...|
|   wenglishpaul|      Cardiff, Wales|
|    RuthHolmes2|            Scotland|
|      leanjeanp|    Central Scotland|
|DerekTheWeather|Barrybados-Cardif...|
|   MCThomas1965|    Wicklow, Ireland|
|  ruths_gallery|Twickenham, Great...|
|       TimTar96|         Buckingham |
|  goldfinches12| Eastbourne, England|
|PaoloSaracino10|                    |
|    MyLunaRose1|          Surrey UK |
|        GRMcKen|          NW England|
|        JFr4ser|             Glasgow|
|    SBillcliffe|                    |
+---------------+--------------------+
only showing top 40 rows

In [ ]:
df1.select('text').filter(df1['text'].contains("sun")).show(10, False) # Changed df to df1 in the filter condition

+--------------------------------------------------------------------------------------------------------------------------------------------+
|text                                                                                                                                        |
+--------------------------------------------------------------------------------------------------------------------------------------------+
|RT @frasergj: A sunny day at @StirUni this afternoon....until the wind picked up, blowing rain clouds over #Stirling (3/2) #WeatherWatcherGâ€¦|
|RT @frasergj: After a sunny start around #Stirling winds blowing rain clouds across (3/2) #WeatherWatcherGraham @BBCScotWeather @BBCAimsirâ€¦ |
|RT @frasergj: A sunny day at @StirUni this afternoon....until the wind picked up, blowing rain clouds over #Stirling (3/2) #WeatherWatcherGâ€¦|
|RT @frasergj: A sunny day at @StirUni this afternoon....until the wind picked up, blowing rain clouds over #Stirling (3/2) #WeatherWatcherGâ€¦|
|RT @frasergj: After a sunny start around #Stirling winds blowing rain clouds across (3/2) #WeatherWatcherGraham @BBCScotWeather @BBCAimsirâ€¦ |
|#sunset over #m6n #rushhour @bbcmtd @bbcweather Birmingham https://t.co/xfmiSqR0u3                                                          |
|A chilly sunset in ryhill park @JonMitchellITV @kerriegosneyTV @itvweather @metoffice @BBCWthrWatchers @bbcweatherâ€¦ https://t.co/3kHPFOj7W2 |
|A sunny day at @StirUni this afternoon....until the wind picked up, blowing rain clouds over #Stirling (3/2)â€¦ https://t.co/nkyHmHar8d       |
|RT @frasergj: After a sunny start around #Stirling winds blowing rain clouds across (3/2) #WeatherWatcherGraham @BBCScotWeather @BBCAimsirâ€¦ |
|RT @frasergj: After a sunny start around #Stirling winds blowing rain clouds across (3/2) #WeatherWatcherGraham @BBCScotWeather @BBCAimsirâ€¦ |
+--------------------------------------------------------------------------------------------------------------------------------------------+
only showing top 10 rows

In [ ]:
df1.createOrReplaceTempView("weather")

In [ ]:
sqlDF = spark.sql("SELECT user.screen_name, user.location FROM weather WHERE lang = 'en' ")

In [ ]:
sqlDF = spark.sql('SELECT user.screen_name, user.location FROM weather WHERE lang = "en"')

In [ ]:
sqlDF.show(50)

+---------------+--------------------+
|    screen_name|            location|
+---------------+--------------------+
|  highland_andy|Highlands of Scot...|
|      AKinniyos|                Utah|
| WalesCoastPath|               Wales|
|       MadFitba|                    |
|    Lillybetmax|   God's Own County |
|         Duo935|      United Kingdom|
|          owz09|     Ammanford,wales|
|      CairnToby|                    |
|        SGIRE82|             Ireland|
|   BaitTheLines|      Swansea, Wales|
|townsendoutdoor|          Cairngorms|
|  highland_andy|Highlands of Scot...|
|     KateVause1|Weston-super-Mare...|
|   stoneartgall|                    |
|svencjohn_steve|       Pembrokeshire|
|          PGWCC|Port Glasgow Inve...|
|     Nightfly28|   Coleford, England|
|      gcmallers|     Hawarden, Wales|
|   MCThomas1965|    Wicklow, Ireland|
|CarolPoyerPeett|          West Wales|
|        gez1087|            Wales UK|
|serimalbpickles|               Wales|
|     Samwill444|           Llanmadoc|
| EmmamorrisxELM|Wales, United Kin...|
|   WAWilliams15|               Wales|
|        Mairebc|      ðŸ´ó §ó ¢ó ·ó ¬ó ³ó ¿|
| Weather_Nathan|Uk, Doncaster, So...|
|   wenglishpaul|      Cardiff, Wales|
|    RuthHolmes2|            Scotland|
|      leanjeanp|    Central Scotland|
|DerekTheWeather|Barrybados-Cardif...|
|   MCThomas1965|    Wicklow, Ireland|
|  ruths_gallery|Twickenham, Great...|
|       TimTar96|         Buckingham |
|  goldfinches12| Eastbourne, England|
|PaoloSaracino10|                    |
|    MyLunaRose1|          Surrey UK |
|        GRMcKen|          NW England|
|        JFr4ser|             Glasgow|
|    SBillcliffe|                    |
|  lizzz_elliott|    Bristol, England|
|Paullambert1999|      United Kingdom|
|     usagreat88|                    |
|  elly189245978|Hemel Hempstead, ...|
|   lana_preston|                    |
|    visitnessie|                    |
|ViewFromEngland|Hertfordshire, En...|
|  LetDogsBeDogs|Coventry, West Mi...|
|        PABHERE|                    |
|    SBillcliffe|                    |
+---------------+--------------------+
only showing top 50 rows

In [ ]:
sqlDF = spark.sql("SELECT count(*) AS weather_count FROM weather").show()

+-------------+
|weather_count|
+-------------+
|          250|
+-------------+

In [ ]:
sqlDF = spark.sql("SELECT lang, count(*) AS language_count FROM weather GROUP BY lang").show()

+----+--------------+
|lang|language_count|
+----+--------------+
|  en|           236|
| und|            13|
|  es|             1|
+----+--------------+

In [ ]:
sqlDF = spark.sql("SELECT text FROM weather WHERE text LIKE '%sun%' ").show()

+--------------------+
|                text|
+--------------------+
|RT @frasergj: A s...|
|RT @frasergj: Aft...|
|RT @frasergj: A s...|
|RT @frasergj: A s...|
|RT @frasergj: Aft...|
|#sunset over #m6n...|
|A chilly sunset i...|
|A sunny day at @S...|
|RT @frasergj: Aft...|
|RT @frasergj: Aft...|
|RT @frasergj: Aft...|
|RT @frasergj: Aft...|
|After a sunny sta...|
|RT @Iceman26061: ...|
|Porthleven 2014 t...|
|Monday morning se...|
+--------------------+

In [ ]:
sqlDF = spark.sql("SELECT text FROM weather WHERE UPPER(text) LIKE '%SUN%' ").show(20, False)

+---------------------------------------------------------------------------------------------------------------------------------------------+
|text                                                                                                                                         |
+---------------------------------------------------------------------------------------------------------------------------------------------+
|RT @frasergj: A sunny day at @StirUni this afternoon....until the wind picked up, blowing rain clouds over #Stirling (3/2) #WeatherWatcherGâ€¦ |
|RT @frasergj: After a sunny start around #Stirling winds blowing rain clouds across (3/2) #WeatherWatcherGraham @BBCScotWeather @BBCAimsirâ€¦  |
|RT @frasergj: A sunny day at @StirUni this afternoon....until the wind picked up, blowing rain clouds over #Stirling (3/2) #WeatherWatcherGâ€¦ |
|RT @frasergj: A sunny day at @StirUni this afternoon....until the wind picked up, blowing rain clouds over #Stirling (3/2) #WeatherWatcherGâ€¦ |
|RT @simon_weather: Sunrise in Great Yarmouth @StormchaserUKEU @carlharlott @danholley @stormbell @Lowweather @TheSnowDreamer @iainG81 @MetRâ€¦ |
|RT @frasergj: After a sunny start around #Stirling winds blowing rain clouds across (3/2) #WeatherWatcherGraham @BBCScotWeather @BBCAimsirâ€¦  |
|#sunset over #m6n #rushhour @bbcmtd @bbcweather Birmingham https://t.co/xfmiSqR0u3                                                           |
|A chilly sunset in ryhill park @JonMitchellITV @kerriegosneyTV @itvweather @metoffice @BBCWthrWatchers @bbcweatherâ€¦ https://t.co/3kHPFOj7W2  |
|A sunny day at @StirUni this afternoon....until the wind picked up, blowing rain clouds over #Stirling (3/2)â€¦ https://t.co/nkyHmHar8d        |
|RT @frasergj: After a sunny start around #Stirling winds blowing rain clouds across (3/2) #WeatherWatcherGraham @BBCScotWeather @BBCAimsirâ€¦  |
|RT @frasergj: After a sunny start around #Stirling winds blowing rain clouds across (3/2) #WeatherWatcherGraham @BBCScotWeather @BBCAimsirâ€¦  |
|Sunshine, rain or snow. For me all of the enjoyment of the weather comes from how it feels. â˜€ï¸ ðŸŒ§ â„ï¸ https://t.co/fUOgmvCdlJ                 |
|RT @simon_weather: Sunrise in Great Yarmouth @StormchaserUKEU @carlharlott @danholley @stormbell @Lowweather @TheSnowDreamer @iainG81 @MetRâ€¦ |
|RT @simon_weather: Sunrise in Great Yarmouth @StormchaserUKEU @carlharlott @danholley @stormbell @Lowweather @TheSnowDreamer @iainG81 @MetRâ€¦ |
|RT @simon_weather: Sunrise in Great Yarmouth @StormchaserUKEU @carlharlott @danholley @stormbell @Lowweather @TheSnowDreamer @iainG81 @MetRâ€¦ |
|RT @frasergj: After a sunny start around #Stirling winds blowing rain clouds across (3/2) #WeatherWatcherGraham @BBCScotWeather @BBCAimsirâ€¦  |
|RT @frasergj: After a sunny start around #Stirling winds blowing rain clouds across (3/2) #WeatherWatcherGraham @BBCScotWeather @BBCAimsirâ€¦  |
|After a sunny start around #Stirling winds blowing rain clouds across (3/2) #WeatherWatcherGraham @BBCScotWeatherâ€¦ https://t.co/tOtpDgqBXF   |
|RT @ruths_gallery: It looks as if that jackdaw is making a contrail ðŸ˜³ðŸ¤£ Sunny spells are forecast for #Twickenham before a cloudy afternoonâ€¦|
|RT @ruths_gallery: It looks as if that jackdaw is making a contrail ðŸ˜³ðŸ¤£ Sunny spells are forecast for #Twickenham before a cloudy afternoonâ€¦|
+---------------------------------------------------------------------------------------------------------------------------------------------+
only showing top 20 rows